@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    border: 1px solid red;
    transition: all var(--transition-duration) ease;
}

:root {
    /* color */
    --primary-color: #5F50FF;
    --accent-color: #2516D4;
    --selected-color: #0B0085;
    --header-color: #333333;
    --title-color: #333333;
    --body-color: #333333;
    --bg-color: #F6F6F6;
    --black-color: #000000;
    --black1-color: #191919;
    --black2-color: #212121;
    --gray-color: #E6E6E6;
    --white-color: #FFFFFF;
    --white1-color: #FAFAFA;
    --white2-color: #F6F6F6;
    --navbar-bg-color: #FAFAFA;
    --shadow-color: #CACACA;
    --inactive-color: var(--gray-color);

    /* font weight */
    --font-extra-light: 200;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;
    --font-black: 900;

    /* standard font size */
    --h1-font-size: 72px;
    --h2-font-size: 64px;
    --h3-font-size: 56px;
    --h4-font-size: 48px;
    --h5-font-size: 40px;
    --h6-font-size: 32px;
    --title-font-size: 24px;
    --subtitle-font-size: 20px;
    --body-font-size: 16px;
    --note-font-size: 12px;

    /* font size */
    --author-font-size: var(--title-font-size);
    --nav-link-font-size: var(--title-font-size);
    --banner-title-font-size: var(--h2-font-size);
    --banner-subtitle-font-size: var(--h6-font-size);
    --section-title-font-size: var(--h5-font-size);
    --section-subtitle-font-size: var(--title-font-size);
    --para-title-font-size: var(--title-font-size);
    --para-body-font-size: var(--body-font-size);
    --skill-box-font-size: var(--body-font-size);

    /* avatar */
    --avatar-size: 80px;

    /* button */
    --button-border-radius: 4px;
    --button-large-padding: 16px 24px;
    --button-large-font-size: 24px;
    --button-small-padding: 8px 16px;
    --button-small-font-size: 16px;

    /* skill-tag */
    --skill-tag-border-radius: 4px;
    --skill-tag-large-padding: 12px 16px;
    --skill-tag-large-font-size: 16px;
    --skill-tag-small-padding: 8px 12px;
    --skill-tag-small-font-size: 12px;

    /* theme switcher */
    --theme-switcher-width: 120px;
    --theme-switcher-height: 56px;
    --theme-switcher-gap: 16px;
    --theme-switcher-border-radius: 40px;

    /* svg */
    --svg-size: 32px;

    /* gap */
    --home-link-gap: 24px;
    --nav-link-theme-switcher-gap: 48px;
    --nav-link-gap: 28px;

    /* banner */
    --banner-text-gap: 40px;
    --banner-content-gap: 56px;
    --banner-content-max-width: 816px;

    /* section */
    --section-text-gap: 24px;

    /* transition */
    --transition-duration: .3s;

    /* navbar */
    --navbar-padding: 12px 80px;
    /*<768*/


    --section-pt: 160px;
}

section {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--banner-content-gap);
}

.banner-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--banner-text-gap);
}

.banner-title {
    font-family: 'Nunito';
    font-size: var(--banner-title-font-size);
    font-weight: var(--font-extra-bold);
    margin: 0;
    text-align: center;
}

.banner-subtitle {
    max-width: 816px;
    font-family: 'Josefin Sans';
    font-size: var(--banner-subtitle-font-size);
    font-weight: var(--font-regular);
    margin: 0;
    text-align: center;
}

.banner-subtitle span {
    color: var(--accent-color);
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    margin-top: 160px ;
    margin-bottom: 80px;
}



.section-title {
    font-family: 'Nunito';
    font-size: var(--section-title-font-size);
    font-weight: var(--font-bold);
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}

.section-title::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 6px;
    bottom: -20px;
    left: 50%;
    border-radius: 4px;
    background-color: var(--accent-color);
    transform: translateX(-50%);
}

.section-subtitle {
    font-family: 'Josefin Sans';
    font-size: var(--section-subtitle-font-size);
    font-weight: var(--font-regular);
    font-style: italic;
    margin: 0;
    text-align: center;
}

main button {
    border: none;
    border-radius: var(--button-border-radius);
    color: var(--bg-color);
    background-color: var(--primary-color);
    font-family: 'Nunito';
    font-weight: var(--font-extra-bold);

}

main button:hover {
    background-color: var(--accent-color);
}

main button.large {
    padding: var(--button-large-padding);
    font-size: var(--button-large-font-size);
}

main button.small {
    padding: var(--button-small-padding);
    font-size: var(--button-small-font-size);
}

.about-me {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.para-title {
    font-family: 'Nunito';
    font-size: var(--para-title-font-size);
    font-weight: var(--font-bold);
    margin: 0;
}

.para-body {
    font-family: 'Josefin Sans';
    font-size: var(--para-body-font-size);
    font-weight: var(--font-regular);
    margin: 0;
}

.skills-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.skills-n-tools {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 16px;
}

.skill-tag {

    border: none;
    border-radius: var(--skill-tag-border-radius);
    color: var(--body-color);
    background-color: var(--gray-color);
    font-family: 'Nunito';
    font-weight: var(--font-bold);
}


.skill-tag.large {
    padding: var(--skill-tag-large-padding);
    font-size: var(--skill-tag-large-font-size);
}

.skill-tag.small {
    padding: var(--skill-tag-small-padding);
    font-size: var(--skill-tag-small-font-size);
}