@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    /* colors */
    --accent-color: #4E9FFF;
    --primary-color: #2516D4;
    --secondary-color: #3755C0;
    --hover-color: #0B0085;
    --background-color: #110F25;
    --grad-bg-lv1-color: #1F1282;
    --grad-bg-lv2-color: #110953;
    --grad-bg-lv3-color: var(--background-color);
    --theme-text-default-color: white;

    /* font weight */
    --font-extra-light: 200;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    --font-extra-bold: 800;
    --font-black: 900;

    /* standard font size */
    --h1-font-size: 72px;
    --h2-font-size: 64px;
    --h3-font-size: 56px;
    --h4-font-size: 48px;
    --h5-font-size: 40px;
    --h6-font-size: 32px;
    --title-font-size: 24px;
    --subtitle-font-size: 20px;
    --body-font-size: 16px;
    --note-font-size: 12px;

    /* font size */
    --author-font-size: var(--title-font-size);
    --nav-link-font-size: var(--title-font-size);
    --banner-title-font-size: var(--h2-font-size);
    --banner-subtitle-font-size: var(--h6-font-size);
    --section-title-font-size: var(--h5-font-size);
    --section-subtitle-font-size: var(--title-font-size);
    --para-title-font-size: var(--title-font-size);
    --para-body-font-size: var(--body-font-size);
    --skill-tag-font-size: var(--body-font-size);
    --footer-title-font-size: var(--h6-font-size);
    --footer-subtitle-font-size: var(--subtitle-font-size);

    /* transition */
    --transition-duration: .3s;
    --grad-circle-transition-duration: 1s;

    /* gradient circle */
    --rad-grad-pos: -60%;
    --rad-grad-scale: 150%;
    --rad-grad-scale-xy: var(--rad-grad-scale) var(--rad-grad-scale);
    --grad-circle-1-size: calc(20vw + 10vh + 200px);
    --grad-circle-2-size: calc(10vw + 5vh + 100px);
    --grad-circle-3-size: calc(6vw + 3vh + 60px);
    --grad-circle-4-size: calc(14vw + 7vh + 150px);

    /* theme switcher */
    --theme-switcher-default-color: #3755C0;
    --theme-switcher-active-color: var(--accent-color);

    /* avatar */
    --avatar-size: 80px;

    /* button */
    --button-border-radius: 4px;
    --button-large-padding: 16px 24px;
    --button-large-font-size: 24px;
    --button-small-padding: 8px 16px;
    --button-small-font-size: 16px;
}

* {
    /* border: 1px solid red !important; */
    scroll-behavior: smooth;
    transition: all var(--transition-duration) ease;
    z-index: 1;
    color: var(--theme-text-default-color);
}

/* Customize carousel style */
.carousel-indicators {
    list-style: none;
}

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: var(--accent-color) !important;
}

.carousel-indicators li:hover {
    opacity: 0.8 !important;
}

.carousel-control-prev-icon {
    /* TODO: proper box shadow */
    background-image: url('../img/prev-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.carousel-control-next-icon {
    /* TODO: proper box shadow */
    background-image: url('../img/next-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar-brand {
    gap: 24px;
}

.navbar-dark {
    background-color: var(--background-color) !important;
    box-shadow: 0px 8px 40px 0px rgba(37, 22, 212, 0.25);
}

.navbar-nav {
    gap: 28px;
}

.navbar-nav .nav-link,
.navbar-author {
    font-family: 'Nunito';
    font-size: var(--nav-link-font-size);
    font-weight: var(--font-extra-bold);
    color: var(--accent-color) !important;
    position: relative;
}

.navbar-nav .nav-link:hover,
.navbar-brand:hover .navbar-author {
    color: var(--theme-text-default-color) !important;
    text-decoration: none;
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 50%;
    background-color: var(--accent-color);
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

.navbar-nav .nav-link:hover::after {
    width: 50%;
}

.navbar-brand:hover .avatar {
    filter: drop-shadow(0px 0px 8px rgba(78, 159, 255, 0.95));
}

p {
    margin: 0;
    padding: 0;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
}

section#home {
    justify-content: center;
    background: radial-gradient(50% 50%, var(--grad-bg-lv1-color) 0%, var(--grad-bg-lv2-color) 50%, var(--grad-bg-lv3-color) 100%);
}

.avatar {
    background-image: url("../img/avatar.jpg");
    background-size: cover;
    border-radius: 50%;
    border: 3px solid var(--accent-color);
    width: var(--avatar-size);
    height: var(--avatar-size);
}

.grad-circle {
    background: radial-gradient(var(--rad-grad-scale-xy) at var(--rad-grad-pos), #120D41 40%, #2F2687 82.5%, #3B36B5 92.5%, #5F5AE3 100%);
    border-radius: 50%;
    position: absolute;
    z-index: 0;
    filter: blur(1px);
    transition: all var(--grad-circle-transition-duration) ease;
}

.grad-circle.c1 {
    width: var(--grad-circle-1-size);
    height: var(--grad-circle-1-size);
    top: -15vh;
    left: -5vw;
    rotate: 70deg;
}

.grad-circle.c2 {
    width: var(--grad-circle-2-size);
    height: var(--grad-circle-2-size);
    top: 10vh;
    right: 5vw;
    rotate: 135deg;
}

.grad-circle.c3 {
    width: var(--grad-circle-3-size);
    height: var(--grad-circle-3-size);
    bottom: 20vh;
    left: 10vw;
    rotate: -15deg;
}

.grad-circle.c4 {
    width: var(--grad-circle-4-size);
    height: var(--grad-circle-4-size);
    bottom: 5vh;
    right: 10vw;
    rotate: -145deg;
}

.theme-button {
    border: none;
    background-color: var(--primary-color);
    border-radius: 4px;
    font-family: 'Nunito';
    font-weight: var(--font-bold);
    cursor: pointer;

    /* Default: large button */
    padding: var(--button-large-padding);
    font-size: var(--button-large-font-size);
}

.theme-button:hover {
    background-color: var(--hover-color);
}

.theme-button.large {
    padding: var(--button-large-padding);
    font-size: var(--button-large-font-size);
}

.theme-button.small {
    padding: var(--button-small-padding);
    font-size: var(--button-small-font-size);
}

.theme-button:hover.check-it svg {
    animation: shake 2s ease;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25%,
    75% {
        transform: translateX(5px);
    }

    50% {
        transform: translateX(2.5px);
    }
}

.banner-content {
    padding: 60px 32px 120px 32px;
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 74px 80px 0px rgba(118, 132, 234, 0.1);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.banner-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.banner-title {
    font-family: 'Nunito';
    font-size: var(--banner-title-font-size);
    font-weight: var(--font-extra-bold);
    line-height: 110%;
    text-align: center;
}

.banner-subtitle {
    font-family: 'Josefin Sans';
    font-size: var(--banner-subtitle-font-size);
    font-weight: var(--font-regular);
    line-height: 120%;
    text-align: center;
    max-width: 816px;
}

.banner-subtitle span {
    color: var(--accent-color);
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 160px;
    margin-bottom: 80px;
    gap: 28px;
}

.section-title {
    font-family: 'Nunito';
    font-size: var(--section-title-font-size);
    font-weight: var(--font-bold);
    line-height: 120%;
    position: relative;
    margin-bottom: 20px;
}

.section-title::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 6px;
    bottom: -20px;
    left: 50%;
    border-radius: 4px;
    background-color: var(--accent-color);
    transform: translateX(-50%);
}

.section-subtitle {
    font-family: 'Nunito';
    font-style: italic;
    font-size: var(--section-subtitle-font-size);
    font-weight: var(--font-regular);
    line-height: 120%;
}

.para-title {
    font-family: 'Nunito';
    font-size: var(--para-title-font-size);
    font-weight: var(--font-bold);
}

.para-body {
    font-family: 'Josefin Sans';
    font-size: var(--para-body-font-size);
    font-weight: var(--font-regular);
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 36px;
}

.skills-tools {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.skills-content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.skills-content .skill-tag {
    font-family: 'Nunito';
    font-size: var(--skill-tag-font-size);
    font-weight: var(--font-bold);
    background-color: var(--secondary-color);
    border-radius: 4px;
    padding: 12px 16px;
}

.projects-show-case {
    display: grid;
    gap: 80px;
}

.project-content {
    border-radius: 16px;
    border: 3px solid var(--accent-color);
    padding: 12px;
    align-items: center;
}

.project-slide-img {
    border-radius: 8px;
}

.project-description {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-description .name {
    font-family: 'Nunito';
    font-size: var(--h6-font-size);
    font-weight: var(--font-extra-bold);
    line-height: normal;
    text-align: center;
}

.project-description .description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}

.project-description .description p {
    font-family: 'Nunito';
    font-size: var(--body-font-size);
    font-weight: var(--font-regular);
    line-height: normal;
}

.proj-tag-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    gap: 12px;
}

.proj-tag-list .tag {
    font-family: 'Nunito';
    font-size: var(--note-font-size);
    font-weight: var(--font-bold);
    line-height: normal;
    padding: 8px 12px;
    border-radius: 4px;
    background: #241D72;
}

.email-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.email-text-box {
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    border: 3px solid var(--accent-color);
    background: none;
    font-family: 'Nunito';
    font-size: var(--body-font-size);
    font-weight: var(--font-regular);
    line-height: normal;
}

.email-text-box.body {
    resize: none;
}

.email-text-box::placeholder {
    color: var(--theme-text-default-color);
    opacity: 0.6;
}

.email-text-box:focus,
.email-text-box:focus-visible {
    box-shadow: 0 0 5px 1px var(--accent-color);
    outline: none;
}

.email-content .send-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.email-info p {
    padding: 10px;
    font-family: 'Inconsolata';
    font-size: 16px;
    line-height: normal;
    background: var(--secondary-color);
    border-radius: 4px;
}

.email-info .email-copy-button {
    border: none;
    background: var(--secondary-color);
    border-radius: 4px;
    padding: 3px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.contact-info .message {
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: var(--subtitle-font-size);
    font-weight: var(--font-regular);
    line-height: 150%;
}

.contact-info .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.contact-info .social .text {
    font-family: 'Nunito';
    font-size: var(--h6-font-size);
    font-weight: var(--font-bold);
    line-height: 150%;
}

.contact-info .social .icon {
    display: flex;
    gap: 60px;
}

.contact-info .social .icon svg path {
    fill: var(--accent-color);
}

.contact-info .social .icon svg:hover {
    transform-origin: center;
    animation: rotate-shake 0.5s ease;
}

@keyframes rotate-shake {

    0%,
    100% {
        transform: rotate(0);
    }

    25%,
    75% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }
}

.copy-pop-up {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(90, 90, 90, 0.8);
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
}

.show {
    display: block;
    animation: pop-up-animation 1.5s ease forwards;
}

@keyframes pop-up-animation {
    0% {
        transform: translate(-50%, 0);
        opacity: 0;
    }

    10%,
    90% {
        opacity: 0.25;
    }

    25%,
    75% {
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -20px);
        opacity: 0;
    }
}

.footer-content {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 20px 0px 60px 0px;
    margin-top: auto;
}

.footer-content::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: var(--theme-text-default-color);
    border-radius: 4px;
}

.footer-content .info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-content .info .title {
    font-family: 'Nunito';
    font-size: var(--footer-title-font-size);
    font-weight: var(--font-bold);
    line-height: normal;
}

.footer-content .info .subtitle {
    font-family: 'Nunito';
    font-size: var(--footer-subtitle-font-size);
    font-weight: var(--font-semi-bold);
    line-height: normal;
}

.footer-content .info .subtitle a {
    text-decoration: none;
    color: var(--accent-color);
}