@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300&family=Nunito:wght@700;800;900&display=swap');



body
{
	font-family:'Nunito','Josefin Sans',Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	background-color:#FFFFFF; 
/*	background-image: url("../img/Mask group.png");*/
	background-repeat: no-repeat;
	background-position: left 400px;
	margin:0 ;
	padding: 0;
	color: #000000;
	
}
h1,h2,h3,h4 {
	
	color: #000000}


/*p { line-height: 2.5rem}*/

*{ box-sizing: border-box;
	scroll-behavior: smooth;
} 
.container
{
/*	border: 1px solid red;*/
	width: 80%; 
	margin: auto; 
	
	
}
.row { 
/*	border: 1px solid red;*/
	padding-top: 0;
	padding-bottom: 0;
	display: flex; 
	flex-wrap: wrap;
	margin-bottom: 0px;
	margin-top: 0px;
	}


.col-1 { width: 8.33%; }
.col-2{ width: 16.66%}
.col-3{ width: 25%}
.col-4{ width: 33.33%}
.col-5{ width: 41.66%}
.col-6{ width: 50%}
.col-7{ width: 58.33%}
.col-8{ width: 66.66%}
.col-9{ width: 75%}
.col-10{ width: 83.33%}
.col-11{ width: 91.66%}
.col-12{ width: 100%}
[class*="col-"]
{
/*	border: 1px solid red;*/
	padding: 0px
}
.bg-footer{ background-color: #ddd}
.img-100{ width: 100%; height: auto}
.imgh-100{ width: auto; height: 534}

.text-center {text-align: center}
.text-right {text-align: right}
.text-left {text-align: left}
.text-bottom {text-align: end}
/*-----Giong icon trong 1 row theo chieu doc (top/center/bottom)-----*/
.align-items-top {align-items: flex-start}
.align-items-center {align-items: center}
.align-items-bottom {align-items: flex-end}
/*-----Giong icon trong 1 row theo chieu ngang (left/right/justify)-----*/
.justify-center { justify-content: center}
.justify-left { justify-content: left}
.justify-right { justify-content: flex-end}
.justify-between { justify-content: space-between}
.justify-around { justify-content: space-around}


.pt-300{ padding-top: 300px}
.pt-200{ padding-top: 200px}
.pt-150{ padding-top: 150px}
.pt-100{ padding-top: 100px}
.pt-20{ padding-top: 20px}
.pt-30{ padding-top: 30px}
.pt-50{ padding-top: 50px}

.pl-50{padding-left: 50px;}
.pb-300{padding-bottom: 300px}

.text-italic{ font-style: italic}

/*-Button-*/
.btn-1st    
{
	border-radius: 12px 12px 12px 12px ;
	background-color: #3941FA;
	color: #fff;
	text-decoration: none;
	padding: 8px 15px;
	border: none
}

.btn-1st:hover{
	
	background: #7AA3FF
}
.bg-primary{	background-color: aquamarine}




